#services-title {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hr-custom-2 {
  width: 100%;
  border-top: 2px solid #ffffff;
}

#services-title h3 {
  background-color: #e3dccb;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  bottom: 36px;
  color: #292424;
}

.payment {
  padding: 2rem 1rem;
}

.payment .apply-input {
  border-radius: 25px;
  border: 2px solid #a2a09e;
  padding: 5px 15px;
}

.payment .apply-button {
  cursor: pointer;
  color: #84bc22;
  background-color: #fff;
  border: 2px solid #84bc22;
  border-radius: 25px;
  padding: 5px 15px;
}
